

<h1 title="I'm a tooltip" style="color:red;">{{title}}</h1>
<nav>
  <a routerLink="/heroes" title="I'm a tooltip"><small>Heroes</small></a>
  <a class="dash-nav" routerLink="/dashboard">Dashboard</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>


<details style="display: inline"><summary>aaaaa</summary>ssssssss</details>




<img src="/assets/A.jpg" style="margin-top: 85px" alt="nema slika" width="auto" height="auto">



<div style="text-align: center; text-decoration-color: brown">
<a href="https://www.w3schools.com">This <b>aaaa</b>is a link</a>
</div>



<a href="https://www.rezultati.com/"><img src="/assets/A.jpg" alt="nema slika" width="100" height="100"></a>
